* {
  box-sizing: border-box;
}

.box {
  margin: 1rem;
  text-align: center;
}

body {
  margin: 0;
}

.website-name {
  color: white;
  font-size: 40px;
  margin: 0;
  padding-block: 10px;
  text-decoration: none;
}

.navigation {
  background-color: #65ccb8;
  text-align: center;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem; 
  padding: 0 1rem;
  text-decoration: none;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .20rem;
}

.navigation li.active {
  background-color: #60747a; 
}

.navigation li:hover {
  background-color: #61dafb;
}

.navigation-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .navigation-logo {
    animation: navigation-logo-spin infinite 20s linear;
  }
}

.navigation-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation-link {
  color: #61dafb;
}

@keyframes navigation-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
