.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px + 2vmin);
  color: white;
}


/* 
This is more minty green 
.Spatula-Heading{
  color:#F2F2F2;
  font-size: 10px;
}

.Background{
  background-color: #65CCB8;
}


.Job-Listing {
  width: 25vmin;
  font-size: 9px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #57B89A;
} */
  


.Spatula-Heading{
  color: white;
  font-size: 40px;
  margin: 0;
  padding-block: 10px;
}

.Spatula-Footer{
  color: white;
  font-size: 40px;
  margin: 0;
  min-height: 40px;
}

.Background{
  background-color: #65ccb8;
}


.Job-Listing {
  width: 25vmin;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #57b89a;
}


  


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
